.sign-button {
    background-color: #7f909f;
}
#display {
    background-color: #85a78e;
}
#calculator {
    background-color: #45525d;
}
#equals {
    background-color: #4566b7;
}
#clear {
    background-color: #fa9d57;
}